{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 90's HONGKONG </title>
    <link rel="shortcut icon" href="#" />
    <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="title">
            <h1> 90's HONGKONG </h1>
        </div>
        <div class="Search">
            <form name="chungking" class="box" action="http://127.0.0.1:8000/">
                <input type="button" class="movie1" onclick="Search()" value="My favourite"/>
                <input type="button" onclick="reload()" value="Erase" class="erase"/>
            </form>
        </div>
    <div class="main">
        <div class= 'videoBox'>
            <iframe id='iframe1' width="700" height="435" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" ></iframe>
        </div>
        <div class="contents">
        </div>
    </div>

    </div>

    <script src="{% static 'JS/home.js' %}" type="text/javascript"></script>
</body>
</html>